@model SistemaBancario.Models.Client

<table>
    <tr>
        <th>Código</th>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Correo</th>
        <th>Telefono</th>
    </tr>
    <tr>
        <td>@Html.DisplayFor(model => model.idcliente)</td>
        <td>@Html.DisplayFor(model => model.nombre)</td>
        <td>@Html.DisplayFor(model => model.apellido)</td>
        <td>@Html.DisplayFor(model => model.correo)</td>
        <td>@Html.DisplayFor(model => model.telefono)</td>
    </tr>
</table>