<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @*@Scripts.Render("~/bundles/modernizr")*@
</head>
<body class="body-container">

    @{
        int tipoRol = Convert.ToInt32(Session["Rol"]);
    }

    <nav class="nav">
        <a href="#" class="link link--nav-company">
            <p class="nav__name-company">Bank Fourts</p>
        </a>
        <button class="nav__toggle">
            <i class="fas fa-bars nav__icon"></i>
        </button>
        <div class="nav__options">
            <ul class="nav__ul-options">
                <li class="nav__li-options"><a href="#" class="link">Inicio</a></li>
                @if (tipoRol == 1)
                {
                    <li class="nav__li-options"><a href="#" class="link">Clientes</a></li>
                    <li class="nav__li-options"><a href="#" class="link">Clientes</a></li>
                    <li class="nav__li-options"><a href="#" class="link">Tipos de transacciones</a></li>
                }
                <li class="nav__li-options"><a href="#" class="link">Transacciones</a></li>
                <li class="nav__li-options"><a href="#" class="link">Saldo</a></li>
                <li class="nav__li-options">
                    <a href="#" class="link"> @Session["UserName"]</a>
                    @*<ul class="nav__ul-options">
                         <li class="nav__li-options"><a href="#" class="link">Perfil</a></li>
                         <li class="nav__li-options"><a href="#" class="link">Cerrar Sesion</a></li>
                      </ul>*@
                </li>
                <li class="nav__li-options"><a href="@Url.Action("Logout", "Account")" class="link">Cerrar sesion</a></li>
            </ul>
        </div>
    </nav>

    <div class="body-container__content">
        @RenderBody()
    </div>

    @*@Scripts.Render("~/bundles/jquery")
      @Scripts.Render("~/bundles/bootstrap")*@
    <script src="https://kit.fontawesome.com/ca6b9ed282.js"></script>
    @Scripts.Render("~/bundles/main")
    @RenderSection("scripts", required: false)
</body>
</html>